
  <p (click)="displayForm(0)">Sign in</p>
  <p (click)="displayForm(1)">Sign up</p>

<div>
  <!-- <form [formGroup] = "form" (ngSubmit) = "onSubmit(form.value)">
        <input name="name" formControlName="name">
        <input name="first_name" formControlName="first_name">
        <input name="last_name" formControlName="last_name">
        <button type="submit">Save</button>
       </form>
 -->
 <div *ngIf="signInForm">
 <form [formGroup] = "loginForm" (ngSubmit) = "onSubmitLoginForm()">
    <label>Username : 
        <input type="text" formControlName="userName"/>
    </label>
    <br>
    <label>Password : 
    <input type="password" formControlName="userPassword"/> 
    </label>
    <br>
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
 
  <!-- </div> -->
</form>

</div>
<div *ngIf="signUpForm">
        <form [formGroup] = "registerForm" (ngSubmit) = "onSubmitSignUpForm()">
           <label>Username : 
               <input type="text" formControlName="userName"/>
           </label>
           <br>
           <label>Password : 
           <input type="password" formControlName="userPassword"/> 
           </label>
           <br>
           <label>Confirm Password : 
            <input type="password" formControlName="confirmUserPassword"/> 
            </label>
           <br>
            <button type="submit" [disabled]="!registerForm.valid">SignUp</button>
        
         <!-- </div> -->
       </form>
       
       </div>
       
</div>

<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>